#root {
  background-color: #F8F9FB;
  color: #4C5A6D;
  text-align: center;
  height: 100vh;
}

.logo{
  width: 25%;
}

.menu{
  display: flex;
}

.menuIcon{
  width: 20px;
  color: #4C5A6D;
}

.dropColor{
  color: #4C5A6D;
}

.MyNav{
  padding: 1rem 2rem;
}